.root {
    -fx-base: #202020;
    -fx-control-inner-background: #2b2b2b;
}
.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}
.toggle-background {
    -fx-fill: #333333;
    -fx-stroke: #444444;
}
.toggle-trigger {
    -fx-fill: #aaaaaa;
}