.root {
    -fx-base: #f4f4f4;
    -fx-control-inner-background: #ffffff;
}
.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}
.toggle-background {
    -fx-fill: #0078d4; /* Active Blue */
    -fx-stroke: #cccccc;
}
.toggle-trigger {
    -fx-fill: white;
}